* {
    margin:0;
    padding:0;
  }
  body {
    /* background-color:#0088ff; */
    height: 3100PX;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(235, 243, 244);
  }
  #ribbon {
    position:absolute;
    background-color:red;
    color:white;
    top:40px;
    left:-30px;
    width:160px;
    transform:rotate(-45deg);
    text-align:center;
  }
  #container {
    position:relative;
    width:100%;
    /* margin:5% auto; */
    margin-left: auto;
    background-color:black;
    box-shadow: -2px -2px 5px white,2px -2px 5px white;
  }
  #container > nav {
    width:100%;
    display:flex;
    max-height:60px;
  }
  #logo {
    line-height:60px;
    font-size:30px;
    padding: 0 50px;
    color: white;
    width:40%;
    letter-spacing:2px;
    text-shadow:2px 2px 5px;
  }
  #container > nav > ul {
    margin:0;
 
    list-style-type:none;
    display:flex;
    position:absolute;
      right:50px;
  /*   min-width:60%; */
  }
  #container > nav > ul > li {
    line-height:60px;
    margin: 0 0px;
    padding:0;
    text-align:center;
    display:inline-block;
    
  /*   background-color:green; */
    min-width:120px;
  
  } 
  #container > nav > ul > li > a {
    position:relative;
  /*   background-color:red; */
    margin: 0 20px;
      color:white;
  }
  #container > nav > ul > li:hover {
    border-bottom: 2px solid white;
    background-color: #0088ff;
  }
  #container > nav > ul > .dropdown:hover {
    border-bottom:none;
  }
  #container > nav > ul > .dropdown:hover >  .dd
  {
    display:block;
  }
  .dropdown:hover > a .fa-caret-down {
    display:none;
  }
  a {
    text-decoration:none;
  
  }
  
  #container > nav > ul > li > div {
    position:absolute;
    padding: 0 10px;
    
    background-color:black;
    display:none;
    background-color:aliceblue;
    min-width:100px;
  }
  
  #container > nav > ul > li > div > ul {
    margin:0px 0 10px 0;
    padding:0;
    list-style:none;
  }
  #u_a_c {
    position:relative;
    width:100%;
  /*   background-color:red; */
  }
  #up_arrow {
    position:relative;
    width:20px;
    height:20px;
    left:42%;
    top:-10px;
    background-color:aliceblue;
    transform:rotate(45deg);
  }
  #container > nav > ul > li> div > ul > li:hover {
    background-color:rgba(0,0,0,0.2);
  }
  #container > nav > ul > li > div > ul > li > a {
    padding : 5px;
      color:black;
  }




  /* main_div css */

  .main_div{
    /* border: 3px solid rgb(0, 255, 72); */
    height: 40vw;
    box-sizing: border-box;
    position: relative;
  }
  .main_div_img{
    position: absolute;
    height: 100%;
  }

  #main_div_img img{
    width: 100%;
    height: 100%;
  }

  .heading_div{
    /* border: 2px solid rgb(0, 255, 55); */
    position: absolute;
    color: #ffffff;
    top: 0px;
    font-size: 1.5vw;
    width: 25%;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: black; */
    left: 40%;
    top: 67%;
    border-radius: 20px;
  }


  /* searching box css */

  .searching_box
  {
    position: relative;
    height: 8vw;
    width: 80vw;
    border: 8px solid grey;
    background-color: #f7f4f4;
    border-radius: 20px;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    color: grey;
    top: -70px;
  }
  .searching_input{
    /* border: 2px solid green; */
    height:100%;
    width: 19.7%;
  }
  .input_heading{
    margin-left: 10%;
    margin-top: 8%;
    font-size: .5vw;
    /* border: 2px solid red; */
    width: 90%;
  }
  .input_value{
    margin-top: 2%;
    margin-left: 6%;
    /* border: 2px solid red; */
  }
  .select_input{
    height: 3vw;
    width: 14vw;
    background-color: #ffffff;
    font-size: 1vw;
    border-radius: 10px;
    box-sizing: border-box;
    border:none;
    text-align: center;
    border: .6px solid grey;
    cursor: pointer;
  }
  #search_button{
     margin-top: 16%;
     height: 3vw;
     width: 14vw;
     margin-left: 5%;
     background-color: #687389;
     border-radius: 10px;
     color: aliceblue;
     font-size: 1vw;
     font-weight: bold;
     cursor: pointer;
     border: none;
  }
  #search_button:hover{
         background-color: #343c4d;
  }


.properties_heading{
    width: 80%;
    margin-left: 10%;
    position: relative;
    top: 40px;
  }
  .properties_heading H1{
    color: #687389;
    font-weight: 2vw;
    font-size: 3vw;
  }

  .properties_box{
    /* border: 2px solid red; */
    height: 35vw;
    margin-top: 5%;
    width: 80%;
    display: flex;
    margin-left: 10%;
    justify-content: space-between;
    box-sizing: border-box;
  }
  .properties{
    /* border: 2px solid red; */
    width: 30%;
    height: 100%;
    float: left;
    border-radius: 10px;
    background-color:white;
  }
  .properties:hover{
    transform: scale(1.05);
    transition: .5s;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    height: 100%;
    border: 2px solid rgb(13, 255, 0);
    border-radius: 10px;
  }
 .card_img{
  /* border: 2px solid blue; */
  height: 20vw;
  width: 100%;
  border-radius: 10px;
 }
  .card_img img{
     height: 100%;
     width: 100%;
     border-radius: 10px;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  /* .card_img img:hover{
    transform: scale(1.05);
    transition: .5s;
  } */
  
  
  .container {
    padding: 2px 16px;
    /* border: 2px solid black; */
    margin-top: 5%;
    
  }
  .about_properties{
    height: 5vw;
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
  }
  .icons{
    width: 30%;
    height: 100%;
    /* border: 2px solid green; */
    font-size: .9vw;
  }
  .icons h2{
    width: 100%;
    /* border: 2px solid green; */
    text-align: center;
  }

  .icons img{
    height: 50%;
    width: 100%;
  }


  .buy_now button{
    width: 70%;
    height: 2.5vw;
    margin-top: 10px;
    background-color: green;
    color: #ffffff;
    margin-left: 14%;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.5vw;
    border: none;
  }
  .properties_heading2{
      position: relative;
      top: 2%;
      /* margin-top: 10px; */
  }
  .agents_box{
    height: 32vw;
    width: 80%;
    display: flex;
    margin-left: 10%;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
    top: 3%;
  }
  .agents{
    width: 20%;
    height: 100%;
    float: left;
    border-radius: 10px;
    background-color:white;
    box-sizing: border-box;
  }
  .about_agents{
    /* border: 2px solid red; */
    text-align: center;
    margin-top: 7%;
    height: 5vw;
  }
  .about_agents p{
    margin-top: 3px;
  }
  .about_agents h4{
    margin-top: 3px;
    color: #687389;
  }
  .agents_contact{
      height: 3vw;
      width: 100%;
      /* border: 2px solid red; */
      margin-top: 15%;
  }
  .phone{
    /* border: 2px solid red; */
    height: 1.5vw;
    display: flex;
  }
  .phone_icon{
    width: 20%;
    height: 100%;
  }
  .phone_icon img{
    height: 80%;
    width: 80%;
  }
  .phone_no{
    width: 80%;
    /* border: 2px solid red; */
    font-size: .6vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .phone_no h2{
    line-height: 20px;
    margin-left: 4%;
    font-weight:50;
  }
  
  .Email_address{
    /* border: 2px solid red; */
    height: 1.5vw;
    display: flex;
  }
  .email_icon{
    width: 20%;
    height: 100%;
  }
  .email_icon img{
    height: 80%;
    width: 80%;
  }
  .email{
    width: 80%;
    /* border: 2px solid red; */
    font-size: .6vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .email h2{
    line-height: 20px;
    margin-left: 4%;
    font-weight:50;
  }

  .footer{
    /* border: 2px solid red; */
    display: flex;
    position: relative;
    top: 5%;
    height: 20vw;
    background-color: #343537;
  }

.about_company{
  /* position: relative; */
  /* top: 30%; */
  color: #f7f4f4;
  text-align:left;
  /* margin-top: 100px; */
  /* border: 2px solid red; */
  width: 30%;
  height: 100%;
  font-size: 1vw;
}
.about_company h1{
  margin-top: 10%;
}
.about_company p{
  margin-top: 10px;
}
.company_contact{
  width: 50%;
  height: 100%;
  /* border: 2px solid rgb(15, 217, 58); */
}
.company_phone_div{
  /* border: 2px solid rgb(15, 217, 58); */
  height: 100%;
  margin-left: 10%;
  /* margin-top: 6%; */

}
.company_phone{
  box-sizing: border-box;
  display: flex;
  
  /* border: 2px solid rgb(52, 15, 217); */
  height: 20%;
 /* justify-content: center; */
 margin-top: 3%;

}
.company_phone div img{
  height: 100%;
  /* border: 2px solid rgb(52, 15, 217); */
  border-radius: 60%;
  width: 30%;
  margin-left: 60%;
}
.company_phone h2{
  color: #f7f4f4;
  font-size: 1vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 10%;
}
.company_phone h3{
  color: #f7f4f4;
  font-size: 1vw;
}